:root {
	/* Fonts */
	--body-font: 'Inter', -apple-system, system-ui, sans-serif;

	/* Wrapper */
	--wrapper_width: 1440px;
	@media screen and (max-width: 1440px) {
		--wrapper_width: 1200px;
	}
	@media screen and (max-width: 1200px) {
		--wrapper_width: 1000px;
	}
	@media screen and (max-width: 1000px) {
		--wrapper_width: 800px;
	}
	@media screen and (max-width: 800px) {
		--wrapper_width: 600px;
	}
	@media screen and (max-width: 600px) {
		--wrapper_width: 400px;
	}
}
