.header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f5f7f8;
	&__wrapper {
		width: 1440px;
		min-height: 90px;
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
	}
	&__logo {
		margin-right: auto;

		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 39px;
		letter-spacing: 0.02em;
	}
	&__cv {
		padding: 15px 30px;
		border: 1px solid #000000;
		border-radius: 50px;
		cursor: pointer;

		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		text-decoration: none;
		color: #000000;
		&:hover {
			transform: scale(1.02);
		}
	}
}
